@import '../../styles/utils/mixins';

.scrollingList {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    @include h2;
  }

  &__items {
    display: grid;
    gap: 16px;
    grid-auto-flow: column;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    @include on-tablet {
      margin-right: -24px;
    }

    @include on-mobile {
      margin-right: -16px;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }
}

.dirButton {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--color-elements);
  background-color: var(--color-white);
  cursor: pointer;

  &--left {
    background-image: url('../../../public/icons/svg/left-dark.svg');

    &-disabled {
      background-image: url('../../../public/icons/svg/left.svg');
    }
  }

  &--right {
    background-image: url('../../../public/icons/svg/right-dark.svg');

    &-disabled {
      background-image: url('../../../public/icons/svg/right.svg');
    }
  }
}
