@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.add-to-fav {
  height: 40px;
  width: 40px;
  border: 1px solid var(--add-to-fav-borger);
  display: flex;
  justify-content: center;
  background: transparent;
  background-color: var(--add-to-fav-bg);
  align-items: center;
  cursor: pointer;

  @include hover(border-color, var(--add-to-fav-borger-hover));
  @include hover(background-color, var(--add-to-fav-bg-hover));

  &--added {
    background-color: transparent;
    border: 1px solid var(--color-elements);
  }
}

.icon-fav--added{
  filter: var(--icon-filter);
}
