@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.iconFavour {
  height: 40px;
  width: 40px;
  border: 1px solid var(--color-icons);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include hover(border-color, var(--color-primary));

  &--added {
    border: 1px solid var(--color-elements);
    filter: var(--icon-filter); //new
  }
}
