@import '../utils/variables';

.ico {
  display: block;
  width: 16px;
  height: 16px;

  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  transition: all ease-in-out $effect-duration;

  &-search {
    background-image: url('../../../public/icons/svg/search.svg');
    background-color: var(--color-elements);

    &:hover {
      background-image: url('../../../public/icons/svg/search-dark.svg');
    }
  }

  &-up {
    background-image: url('../../../public/icons/svg/up-dark.svg');

    &--disabled {
      background-image: url('../../../public/icons/svg/up.svg');
    }
  }

  &-home {
    background-image: url('../../../public/icons/svg/home.svg');
  }

  &-right {
    background-image: url('../../../public/icons/svg/right.svg');
  }

  &-right-dark {
    background-image: url('../../../public/icons/svg/right-dark.svg');
  }

  &-left {
    background-image: url('../../../public/icons/svg/left.svg');
  }

  &-left-dark {
    background-image: url('../../../public/icons/svg/left-dark.svg');
  }

  &-down {
    background-image: url('../../../public/icons/svg/down.svg');
  }

  &-close {
    background-image: url('../../../public/icons/svg/close.svg');

    &:hover {
      background-image: url('../../../public/icons/svg/close-dark.svg');
    }
  }

  &-close-dark {
    background-image: url('../../../public/icons/svg/close-dark.svg');

    &:hover {
      background-image: url('../../../public/icons/svg/close.svg');
    }
  }

  &-menu {
    background-image: url('../../../public/icons/svg/menu-dark.svg');

    &:hover {
      background-image: url('../../../public/icons/svg/menu.svg');
    }
  }

  &-fav {
    background-image: url('../../../public/icons/svg/fav-dark.svg');

    &-red {
      background-image: url('../../../public/icons/svg/fav-red.svg');
    }
  }

  &-cart {
    background-image: url('../../../public/icons/svg/cart.svg');
  }

  &-minus {
    border: 1px solid var(--color-elements);
    background-image: url('../../../public/icons/svg/minus-dark.svg');

    &:hover {
      border-color: var(--color-primary);
    }
  }

  &-disabled-minus {
    cursor: default;
    border: 1px solid var(--color-elements);
    background-image: url('../../../public/icons/svg/minus.svg');
    &:hover {
      border-color: var(--color-elements);
    }
  }

  &-plus {
    border: 1px solid var(--color-elements);
    background-image: url('../../../public/icons/svg/plus-dark.svg');

    &:hover {
      border-color: var(--color-primary);
    }
  }
}
