@mixin on-mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin page-grid {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--column), 1fr);

  @include on-mobile {
    --column: 4;
  }

  @include on-tablet {
    --column: 12;
  }

  @include on-desktop {
    grid-template-columns: repeat(var(--column), 32px);

    --column: 24;
  }
}

@mixin content-padding-inline {
  // padding-inline: 32px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-mobile {
    padding-inline: 16px;
  }
}

@mixin desktop-container {
  @include on-desktop {
    max-width: $container-max-width;
    margin-inline: auto;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} $effect-duration;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin small-text {
  font-family: $mont;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: $color-primary;
}

@mixin body-text {
  font-family: $mont;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: $color-primary;
}

@mixin buttons-text {
  font-family: $mont;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: $color-primary;
}

@mixin h1 {
  font-family: $mont;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.01em;
  color: $color-primary;

  @include on-mobile {
    font-size: 32px;
    line-height: 41px;
  }
}

@mixin h2 {
  font-family: $mont;
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: $color-primary;

  @include on-mobile {
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0;
  }
}

@mixin h3 {
  color: $color-primary;
  font-family: $mont;
  font-size: 22px;
  font-weight: 800;
  line-height: 31px;

  @include on-mobile {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
  }
}

@mixin h4 {
  color: $color-primary;
  font-family: $mont;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;

  @include on-mobile {
    font-size: 16px;
    line-height: 20px;
  }
}
