$color-primary: #313237;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-hover-background: #fafbfc;
$color-white: #fff;
$color-red: #eb5757;
$color-green: #27ae60;
$color-phones: #6d6474;
$color-tablets: #8d8d92;
$color-accessories: #973d5f;

$effect-duration: 0.3s;

$mobile-max-width: 639px;
$tablet-max-width: 1199px;
$desktop-min-width: 1200px;
$container-max-width: 1136px;

$mont: Mont, Arial, sans-serif;
