@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.cart {
  flex: 1;
  padding: 40px 0 80px;
  @include h1;

  &__content {
    @include page-grid;
  }

  &__title {
    margin-bottom: 24px;
    grid-column: 1/-1;
  }

  &__items {
    grid-column: 1/17;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;

    @include on-tablet {
      grid-column: 1 / -1;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
    flex-wrap: nowrap;
    border: 1px solid $color-elements;

    &:hover {
      box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.26);
    }

    @include on-tablet {
      padding: 24px;
      gap: 24px;
      flex-wrap: nowrap;
    }

    @include on-mobile {
      flex-wrap: wrap;
      gap: 16px;
      padding: 16px;
    }
  }

  &__button-delete {
    height: 16px;
    width: 16px;
    border: none;
    transition: transform $effect-duration;
    background-color: $color-white;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__photo {
    height: 80px;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
    transition: transform $effect-duration;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__product-link {
    display: flex;
    flex-basis: 25%;
    text-decoration: none;

    &-name {
      flex-basis: 60%;
    }
  }

  &__name {
    @include body-text;
    font-weight: 600;
    transition: all $effect-duration;

    &:hover {
      text-decoration: underline;
    }
  }

  &__count-buttons {
    // box-sizing: border-box;
    margin-right: 40px;
    width: 96px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;

    // flex-basis: 180px;
    @include body-text;
  }

  &__button {
    width: 32px;
    height: 100%;
    background-color: $color-white;
  }

  &__price {
    @include h3;
    // flex-basis: 150px;
    // width: 150px;
  }

  &__total {
    position: sticky;
    top: 0;
    grid-column: 17/-1;
    width: 100%;
    height: max-content;
    padding: 24px;
    border: 1px solid $color-elements;

    @include on-tablet {
      grid-column: 1/-1;
    }
  }

  &__total-price {
    color: $color-primary;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    text-align: center;
  }

  &__items-count {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid $color-elements;
    color: $color-secondary;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
  }

  &__checkout {
    display: flex;
    width: 100%;
    min-height: 48px;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    cursor: pointer;
    transition: background-color $effect-duration;

    &:hover {
      box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
    }
  }

  @include on-tablet {
    .container {
      padding-inline: 24px;
    }
  }

  @include on-mobile {
    .container {
      padding-inline: 16px;
    }
  }

  .back-button {
    font-family: $mont;
    margin-bottom: 16px;
  }

  @include on-mobile {
    margin-bottom: 24px;
  }
}
