@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.header {
  display: flex;
  box-shadow: 0px 1px 0px 0px $color-elements;

  &__logo-link {
    display: flex;
    padding: 18px 24px;

    @include on-tablet {
      padding: 13px 16px;
    }
  }
}

.logo {
  display: flex;
  width: 80px;
  height: 28px;

  @include on-tablet {
    width: 64px;
    height: 22px;
  }
}

.nav {
  z-index: 1;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 24px;

  @include on-tablet {
    padding-left: 16px;
  }

  @include on-mobile {
    padding: 0;
    position: absolute;
    flex-direction: column;
    top: 49px;
    height: calc(100vh - 48px);
    background: #fff;
  }

  &__list {
    display: flex;
    gap: 64px;
    align-items: center;
    transition: all $effect-duration;

    @include on-tablet {
      gap: 32px;
    }

    @include on-mobile {
      padding: 24px 16px;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__link {
    display: inline-block;
    box-sizing: border-box;
    color: $color-secondary;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0.04em;
    border-bottom: 3px solid transparent;
    transition:
      border-color $effect-duration,
      color $effect-duration;

    &:hover {
      @include hover(color, $color-primary);
      @include hover(border-color, $color-primary);
    }

    @include on-tablet {
      line-height: 45px;
    }

    @include on-mobile {
      line-height: 27px;
      border-bottom: 2px solid transparent;
    }

    &.active {
      color: $color-primary;
      border-bottom: 3px solid $color-primary;

      @include on-mobile {
        border-bottom: 2px solid $color-primary;
      }
    }
  }

  &__buttons {
    display: flex;

    @include on-mobile {
      width: 100%;
      border: 1px solid $color-elements;
    }
  }
}

.menu {
  @include on-mobile {
    display: none;
  }

  &--open {
    display: flex;
  }
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;

  background: transparent;
  border: none;
  box-shadow: -1px 0px 0px 0px $color-elements;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;

  transition: border-color $effect-duration;

  @include on-tablet {
    padding: 14px;
  }

  &.active {
    border-bottom: 3px solid $color-primary;

    &:not(.header-button--menu) {
      @include on-mobile {
        border-bottom: 2px solid $color-primary;
      }
    }
  }

  &:not(.header-button--menu) {
    @include hover(border-color, $color-primary);

    @include on-mobile {
      width: 50%;
      border-bottom: 2px solid transparent;
    }
  }

  &--menu {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;

    @include on-mobile {
      display: block;
    }
  }

  &__icon {
    position: relative;
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: $color-red;

  position: absolute;
  bottom: 8px;
  left: 8px;

  color: #fff;
  font-size: 9px;
  font-weight: 700;
  line-height: 11.5px;
  text-align: center;
}

.theme-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 10px;
}
