@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.footer {
  box-shadow: 0 -1px 0 0 $color-elements;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: $mont;


  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 96px;

    @include on-mobile {
      height: 257px;
      flex-direction: column;
      gap: 32px;
      align-items: start;
    }
  }

  &__logo {
    background-image: url('../../../public/icons/logo.svg');
    width: 89px;
    height: 32px;
    background-repeat: no-repeat;
    margin-left: 16px;

    @include on-mobile {
      margin-top: 32px;
    }
  }

  &__nav {
    display: flex;
    padding-left: 16px;
    text-transform: uppercase;
    gap: 106px;

    @include on-tablet {
      gap: 32px;
    }

    @include on-mobile {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__nav-link {
    font-weight: bold;
    text-decoration: none;
    color: $color-secondary;
    font-size: 12px;

    padding: 40px 0;

    @include hover(color, $color-primary);

    @include on-mobile {
      padding: 0;
    }
  }

  &__back-to-top {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    color: $color-secondary;

    @include on-mobile {
      margin-bottom: 32px;
    }
  }

  &__back-to-top-link {
    display: flex;
    align-items: center;
    gap: 16px;
    color: inherit;
    text-decoration: none;

    @include hover(color, $color-primary);
  }

  &__back-to-top-icon {
    height: 32px;
    width: 32px;
    border: 1px solid $color-icons;
    background-repeat: no-repeat;
    background-position: center;

    @include hover(border-color, $color-primary);
  }
}
