@import '../../styles/utils/mixins';

.productCardHorizontal {
  padding: 16px;
  border: 1px solid var(--color-elements);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 16px;
  background-color: var(--product-card-bg-color);
  margin-bottom: 5px;

  @include hover(box-shadow, var(--hover-shadow-color));

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__image {
    object-fit: contain;
    width: 120px;
    height: 150px;

    @include hover(scale, 1.1);

    @include on-tablet {
      width: 100px;
      height: 130px;
    }

    @include on-mobile {
      width: 65px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    padding-top: 8px;
    color: var(--color-primary);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__prices {
    font-size: 16px;
    position: relative;
    margin-top: 8px;

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: var(--color-elements);
      margin-bottom: 8px;
      position: absolute;
    }

    &-discount {
      color: var(--color-primary);
      font-weight: 800;
      margin-right: 8px;
    }

    &-full {
      color: var(--color-secondary);
      font-weight: 500;
      text-decoration: line-through;
      text-decoration-thickness: 1px;
    }
  }

  &__params {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    gap: 4px;

    &-pair {
      display: flex;
      justify-content: space-between;
    }
  }

  &__param {
    font-size: 10px;
    color: var(--color-secondary);
    line-height: 15px;
    font-weight: 600;
  }

  &__value {
    color: var(--color-primary);
    font-size: 12px;
    font-weight: 600;
  }

  &__buttons {
    max-width: 150px;
    width: 100%;
    display: flex;
    gap: 8px;

    @include on-mobile {
      & > .add-to-cart {
        font-size: 10px;
      }

      & > .add-to-cart {
        width: 45px;
      }
      & > .add-to-fav {
        width: 25px;
      }
    }
  }
}
