@import '../../styles/utils/mixins';

.cartIsEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/-1;

  &__message {
    text-align: center;
    margin-bottom: 20px;

    @include h3;
  }

  &__advice {
    text-align: center;
    margin-bottom: 20px;

    @include h4;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-block: 32px;
  }

  &__img {
    object-fit: contain;
    overflow: hidden;
  }
}
