@import './styles/index';

html {
  scroll-behavior: smooth;
  font-family: $mont;
  background-color: var(--page-bg-color);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body > div:nth-child(1) {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.App {
  width: 100%;
  min-height: 100vh;

  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  @include content-padding-inline;
  @include desktop-container;

  width: 100%;
  flex-grow: 1;
}

body:has(div#root > div.App > header.header > nav.menu--open) {
  overflow: hidden;
}
