@import './styles/index';

html {
  scroll-behavior: smooth;
  font-family: $mont;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body > div:nth-child(1) {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.App {
  width: 100%;
  min-height: 100vh;

  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  box-sizing: content-box;
  @include content-padding-inline;
  @include desktop-container;

  flex-grow: 1;
  padding-top: 56px;
  padding-bottom: 80px;

  @include on-tablet {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  @include on-mobile {
    padding-top: 24px;
  }
}

body:has(div#root > div.App > header.header > nav.menu--open) {
  overflow: hidden;
}
