@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.pageNotFound {
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  padding-top: 24px;
  padding-bottom: 80px;

  @include on-tablet {
    padding-bottom: 64px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: max-content;

  &__title {
    text-align: center;

    @include h3;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-block: 32px;
  }

  &__img {
    object-fit: contain;
    overflow: hidden;
  }
}
